fastapi
uvicorn
python-multipart
pydantic

# PDF
pdfplumber

# Embeddings
sentence-transformers

# Vector store
faiss-cpu

# LangChain
langchain
langchain-community
langchain-groq
langchain-text-splitters

# MLflow
mlflow

# Env
python-dotenv
